//fonts-import
@font-face {
    font-family: 'RobotoLight';
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: 'MontserratMedium';
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
    font-family: 'RobotoMedium';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}


//vars
$main-col: #030F2E;
$input-col: #F4F4F4;
$formblock-padding: 65px;
$form-margin: 25px;
$input-margin: 10px;
$vk-col: #4065D6;


//mixins
@mixin setSize($width, $height){
    width: $width;
    height: $height;
}
@mixin setSizeAndBackground($width, $height, $color){
    width: $width;
    height: $height;
    background-color: $color;
}
@mixin textStyle($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

//templates
%text-input{
    @include setSize(100%, 51px);
    background-color: $input-col;
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: $input-margin;
    padding-left: 40px;
    color: black;
    @include textStyle(16px, 300);
    font-family: 'RobotoLight';
    line-height: 18.75px;
}
%txt-style-roboto-medium{
    @include textStyle(16px, 500);
    font-family: 'RobotoMedium';
}


//styles
body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
#image-background{
    height: 100vh;
    background-image: url("../img/background-authorization.png");
    background-size: cover;
}
.filter-background{
    @include setSize(100%, 100%);
    background-color: rgba(3, 15, 46, 0.66);
}
.auth-form-block{
    @include setSize(500px, 617px);
    padding: $formblock-padding;
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 34px;
    text-align: center;
}
.welcome{
    @include textStyle(34px, 500);
    font-family: 'MontserratMedium';
    color: black;
    margin-bottom: 10px;
}
.line{
    height: 1px;
    background-color: black;
}
.d-block{
    margin-top: $form-margin;
}
.user-field{
    @extend %text-input;
}
.user-field:nth-child(2){
    margin-bottom: $input-margin - 1px;
}
.forgot-password-field{
    @extend %txt-style-roboto-medium;
    text-align: right;
    margin-bottom: $input-margin;
    a{
        color: $main-col;
        text-decoration: none;
    }
}
.remember-checkbox{
    text-align: center;
    span{
        @include textStyle(16px, 500);
        color: black;
    }
    margin-bottom: $form-margin;
}
.vk-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18px;
    padding-right: 33px;
    gap: 19px;
    border-radius: 22px;
    background-color: $vk-col;
    text-decoration: none;
    @include setSize(fit-content, fit-content);
    margin-bottom: 17px;
    div{
        display: inline-block;
        @include setSize(fit-content, fit-content);
        @extend %txt-style-roboto-medium;
        color: white;
    }
}
.sign-in-btn{
    border: none;
    padding: 18px 32px;
    background-color: $main-col;
    @extend %txt-style-roboto-medium;
    color: white;
    border-radius: 16px;
    margin-bottom: 28px;
}
.slider-txt{
    @extend %txt-style-roboto-medium;
    color: black;
}



